.HOMEPAGE {
  position: center;
  font-family: Trebuchet MS;
  font-size: 31px;
  font-weight: bold;
  text-decoration:none;
  color: #e6e6e6;/
  position: center;
    }

    @media screen and (max-width: 480px) {
    .imgh {
        max-width: 30%;
      }

      

    }
    @media screen and (min-width: 481px) and (max-width: 767px) {
      .imgh {
        max-width: 15.68%;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .imgh {
        max-width: 15.8%;
      }
    }
    @media screen and (min-width: 1025px) and (max-width: 1280px) {
      .imgh {
        max-width: 15.93%;
      }
    }
    @media screen and (min-width: 1281px) {
      .imgh {
        max-width: 15.93%;
      }
    }
